<!DOCTYPE html>
<html ng-app="angularApplication">
<head>
<!-- load bootstrap -->
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">

<script src="js/angular.min.js"></script>
<script src="angular-beans.js"></script>
 
</head>
<body>

	<div class="container">
	
			<div ng-controller="helloWorldController">

				<p class="label">Your Name: </p> <input type="text" ng-model="name" class="input-medium">

              <button ng-click="sayHello()" class="btn btn-primary">send</button>
			
			<p>{{message}}</p>
		</div>
	</div>
</body>
</html>