<!DOCTYPE html>
<html ng-app="angularApp">

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>

<script type="text/javascript" src="angular-beans.js"></script>


<div ui-template="index.html">
 <div ui-define="zone1"><h1>hahaha</h1></div>

</div>
<div ng-controller="helloService" >
 <div bean-validate> 
 <form name="userForm" novalidate >
	
					<label>name</label> <input type="text" ng-model="name" name="name">
					<p ng-show="userForm.name.$invalid">name is required</p>
				    <p ng-show="userForm.name.$error.minlength">name min length is 4</p>
 </form>
	
	<button ng-click="sayHello()"  ng-disabled="userForm.name.$invalid || userForm.name.$error.minlength" >say Hello</button>
 </div> 

{{greeting.message}}

<h1>{{notif}}</h1>
</div>

<br/>



</html>