
table td {
  height:2em;
  padding-left: 6px;
  font-size:90%;
  padding:5px 5px;
}

table th{
 background: green;
 color: white;	
}

table tr:nth-child(odd) {
  background: #f4f3f3;
}
table tr:nth-child(even) {
  background: #ffffff;
}

