

<div class="col-md-4" >
<div  class="well" ng-include="'views/joinedList.html'"></div>
</div>
<div class="col-lg-8">

<h4>{{classRoomName}}</h4><input type="button" class="btn-success" ng-click="leave()" value="LEAVE :(">

</div>

 <div id="d">
 
 <style>
 #canvas{
  border-bottom: 1px solid rgba(0,0,0,0.3); 
  background-color: #FFF;
  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
}

#d{
  text-align: center;
}
 
 
 </style>
 <br/>
      <h4>dashboard</h4>
      <canvas width="500" height="300" id="canvas" drawing>   </canvas>
    
    
    </div>